@import "tailwindcss";

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fafaf9;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

.block-bg {
  @reference "tailwindcss";
  @apply rounded-xl border-[0.5px] shadow-md backdrop-blur-sm border-stone-800 bg-stone-900/65;
}

.php-h1 {
  @reference "tailwindcss";
  @apply mb-4 bg-linear-to-br from-white to-stone-400 bg-clip-text text-5xl font-bold tracking-tight text-transparent
}

.php-h2 {
  @reference "tailwindcss";
  @apply my-2 bg-linear-to-br from-white to-stone-400 bg-clip-text text-xl font-bold tracking-tight text-transparent
}

.php-variant {
  @reference "tailwindcss";
  @apply mb-3 text-xs font-semibold tracking-[0.3em] uppercase text-sky-400
}

.code {
  @reference "tailwindcss";
  @apply rounded-xl border-[0.5px] shadow-md backdrop-blur-sm border-stone-800 bg-stone-900/65 p-4 font-mono;
}